<div id="header">
  
  <p style="width: 100px; padding: 20px;">@Html.ActionLink("Home", "Index", "Home")</p> 
  <p style="width: 100px; padding: 20px;">@Html.ActionLink("Stylist", "Index", "Stylists")</p>
  <p style="width: 600px; padding: 20px;">@Html.ActionLink("Client", "Index", "Clients")</p>
  <div id="headerImg">
    <p><img id="headerimg" src="~/img/tint.png" style="width: 25px; height: 20px;">Hair Salon Management</p>  
  </div>

</div>