@{
  Layout ="_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<div class=stylistAppointment>
  <h2><strong>Make an appointment</strong></h2>
  
  @using (Html.BeginForm())
  {

    @foreach(Stylist stylist in Model)
      {
        
        <h4>@Html.CheckBoxFor($"{stylist.AppointmentSelect}", new { htmlAttributes = new { @value=true, @class = "form-control" } })</h4>
      }
    <p><strong>Appointment 
    @Html.TextBoxFor((model => model.Appointment), new { @type = "date", @required = "required", @class ="form-control", @style="width: 300px;"})</strong></p>
    <br>
    <input class="w3-button w3-purple" type="submit" value="submit" style="cursor: pointer;">
  }
</div>