@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="stylistDelete">
  <h2><strong>Delete this Stylist?</strong></h2>
  <div id="stylistNameDelete">
    <h4>Stylist Name : @Html.DisplayFor(model => model.StylistName)</p>

    @using (Html.BeginForm())
    {
      <input class="w3-button w3-purple" type="submit" value="Delete">
    }
  </div>
</div>