@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="stylistSearch">
  <h2><strong>Search a Stylist</strong></h2>

  <div id="stylistSearchForm">
    @using (Html.BeginForm())
    {
      <p><strong>Stylist Name
      @Html.TextBoxFor((model => model.StylistName), new { @required = "required", @class="form-control"})
      </p>
      <input class="w3-button w3-purple" type="submit" value="Search" style="cursor: pointer";>
    }
  </div>

</div>