
#header
{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0;
  width:100%;
  height:50px;
  background-color: #4b0082;
  color: white;
  font-size: 20px;
}

#headerImg
{
  left: 40%;
  position: absolute;
  width:500px;
}
.container
{
  top: 50px;
  height:100%;
  width:100%;
  position: relative;
}
body
{
  font-family: 'Bellota Text', cursive;
}

.hairSalonMain
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;

}

#mainImg
{
  display: flex;
  justify-content: space-around;
  width:500px;
}

#imgX
{
  background: linear-gradient(to right, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 60px;
  font-size: 70px;
}
#main1
{
  width: 15%;
}

#main2
{
  width: 15%;
}

#mainguide
{
  width:500px;
  height:300px;
  padding: 20px;
  border: 2px solid #4b0082;
}
#mainbottom
{
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.stylistIndex
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
.stylistCreate
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#stylistLists
{
  height:350px;
}
#stylistLinks
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
}

.stylistSearch
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#stylistSearchForm
{
  height:200px;
  width: 300px;
}

.stylistSearchResult
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#stylistSearchLists
{
  height:200px;
  width: 300px;
}

.stylistDetails
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#stylistDetailLinks
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
}

.stylistDelete
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#stylistNameDelete
{
  height: 300px;
}

.stylistEdit
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.clientIndex
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#clientList
{
  height:350px;
}

#clientLinks
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
}

.clientCreate
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.searchClient
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#clientSearchForm
{
  height:200px;
  width: 300px;
}

.clientSearchResult
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#clientSearchLists
{
  height:200px;
  width: 300px;
}

.clientDetails
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#clientDetailLinks
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
}

.clientEdit
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.clientDelete
{
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#clientNameDelete
{
  height: 300px;
}

#nonStylist
{
  height:200px;
  color: #4b0082;
}
div#footer {
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}