@{
  Layout = "_Layout";
}

<div class="hairSalonMain">
  <h1><strong>Hair Salon Management</strong></h1>

  <h3>This Hair Salon Management allows you to track hair-stylists and thier clients efficiently.</h3>

  <div id="mainImg">
    <img id="main1" src="~/img/hairsalonmain.png"> <p id="imgX">X</p> <img id="main2" src="~/img/management.png">
  </div>
  
  <div id="mainguide">
    <h4>Quick Guideline</h4>
    <h4>You are able to navigate stylists.</h4>
    <h4>In Stylist section, You manage to add and track stylists and track their clients.</h4>
    <h4>In Client section, You manage to add and track clients with a desinated stylist.</h4>
    <h4>If you have any concerns, please contact to Jiwon Han, jiwon1.han@gmail.com!</h4>
  </div>

  <div id="mainbottom">
    <p class="link"> @Html.ActionLink("See all Hair Stylist lists", "Index", "Stylists")</p>
    <p class="link"> @Html.ActionLink("See all clients", "Index", "Clients")</p>
  </div>
</div>