@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="clientDelete">
  <h2><strong>Delete this client?</strong></h2>
  <div id="clientNameDelete">
    <h4>Client Name : @Html.DisplayFor(model => model.ClientName)

    @using (Html.BeginForm())
    {
      <input class="w3-button w3-purple" type="submit" value="Delete">
    }
  </div>
</div>