@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="searchClient">
  <h2><strong>Search a client</strong></h2>

  <div id="clientSearchForm">
    @using (Html.BeginForm())
    {
      <p><strong>Client Name
      @Html.TextBoxFor((model => model.ClientName), new { @required = "required", @class="form-control"})
      </p>
      <input class="w3-button w3-purple" type="submit" value="Search" style="cursor: pointer";>
    }
  </div>
</div>